.app-container{
  display: grid;
  grid-template-columns: 7% 93%;
}
.dynamic-content{
  margin-top: 80px;
}
@media screen and (max-width: 1155px){
  .app-container{
      display: block;
  }
  .dynamic-content{
      margin-top: 0px;
  }
}